.divCartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  /* margin: auto; */
  background-color: rgba(218, 165, 32, 0.37);
  height: 130px;
  width: 100%;
  border: 2px solid goldenrod;
}
.imgCartItem {
  max-height: 120px;
  margin: 2px;
  padding: 2px;
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.624); */
}

.x {
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalleCartItem {
  margin-right: 15px;
}